node_modules
.env.local
.next
supabase/.temp

.DS_Store
coverage
out
build
.pnp
.pnp.js
.yarn/install-state.gz
.vercel
*.pem
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
next-env.d.ts
